@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

.quoteBtn {
    width: 250px;
    height: 100px;
    cursor: pointer;
    background-color: #b7b7a4;
    border:  10px solid #eb5e28;
    outline: none;
    transition: 1s ease-in-out;
    font-family: 'Pacifico';
    font-size: 30px;
  }